.statistics {
  margin: 50px auto 0;
  width: 460px;
  box-shadow: var(--box-shadow);
}

.title {
  font-size: 16px;
  color: var(--primary-text-color);
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0;
  text-transform: uppercase;
}

.statList {
  height: 60px;
  display: flex;
}

.statItem {
  width: 100%;
  border: 1px solid var(--border-color);
  color: white;
}

.label {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.percentage {
  font-size: 16px;
  display: flex;
  justify-content: center;
}
