.history {
  margin: 50px auto 0;
  width: 460px;
  box-shadow: var(--box-shadow);
  background-color: var(--primary-background-color);
  cursor: pointer;
}

.title {
  padding: 10px;
  background-color: #00bcd5;
  color: white;
  text-transform: uppercase;
}
.item {
  width: 200px;
  padding: 10px 0;
  text-align: center;
  border: 1px solid var(--border-color);
  color: var(--secondary-text-color);
}
.item:first-letter {
  text-transform: uppercase;
}
.row {
  background: #ffffff;
}
.row:nth-child(2n) {
  background: #ecf1f4;
}
