@import-normalize; /* bring in normalize.css styles */

:root {
  --container-background-color: #e7ecf2;

  --primary-text-color: #122236;
  --border-color: rgb(221, 221, 221);
  --primary-background-color: #ffffff;
  --secondary-text-color: #9da9b4;
  --secondary-background-color: #f3f6f9;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  --animation-duration: 250ms;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}